.image {
  width: 300px;
  height: auto;
  margin-bottom: 28px;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.links:hover {
  text-decoration: none;
  background-color: var(--main-bg-color);
}

