.row {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row p {
  font-size: 20px;
  margin-bottom: 28px;
}

.rounded_corners {
  border-radius: 8px;
}

.image img {
  width: 100%;
  height: auto;
  margin: auto;
}

.image {
  width: 100%;
  height: auto;
  flex: 1;
}
