.menu {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu Mono";
  font-size: 20px;
  line-height: var(--global-line-height);
}

.logo > a::before {
  content: ">";
  margin-right: 10px;
}

.listItem {
  display: inline-block;
}

.menuLink:visited { 
    color: var(--secondary-color);
}

.menu li:first-of-type {
  margin-right: 30px;
}

.menu ul li::before {
  content: none;
}

.logo {
  color: var(--primary-text-color);
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.blink_me {
  animation: blinker 0.8s infinite;
}

@keyframes blinker {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1
  }
}

.thicc {
  font-weight: 900;
}

.logo > a::after {
  animation: blinker 1s ease-in-out infinite;
  color: var(--primary-text-color);
  content: "|";
}

.menu li a:hover {
  background-color: var(--main-background);
  color: var(--primary-text-color);
}