.border {
  border-left-width: 8px;
  border-left-style: solid;
  border-left-color: var(--primary-color);
  border-radius : 5px;
}

.padding {
  padding: 20px 0px 20px 0px
}

.container {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0px 16px;
  line-height: 1.2em;
  font-size: var(--font-size);
}

.header {
  display: flex;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 5px;
  align-items: center;
}

.footer {
  display: flex;
  font-style: italic;
  font-weight: bolder;
  align-items: center;
  justify-content: end;
}

.content {
  padding-bottom: 16px;
}

Content > code {
  padding-left: 5px;
  padding-right: 5px;
  background-color: green;
}

.icon {
  margin-right: 7px;
  margin-bottom: 0px;
}

.quote {
  color: var(--font-color);
  font-size: 22px;
  background-color: rgb(39, 39, 39);
}

.info {
  background-color: var(--info-color);
  border-color: var(--dark-info-color);
  color: var(--font-dark-color);
}

.warning {
  background-color: var(--warning-color);
  border-color: var(--dark-warning-color);
  color: var(--font-dark-color);
}

.danger {
  background-color: var(--danger-color);
  border-color: var(--dark-danger-color);
  color: var(--font-color);
}

.content > :global p {
  color: var(--font-dark-color);
  margin-bottom: 0px;
}